.edit-org-heading-tag {
  margin: 0;
  margin-top: 2px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.edit-org-label-tag {
  color: #4d5464;
}

.add-org-number-input {
  width: 100%;
}

.cancel-and-add-btn-container-at-add-org {
  padding-top: 7px;
  gap: 16px;
  justify-content: flex-end;
}

.org-mgt-add-btn-for-cancel {
  border: 1px solid #f04438;
  color: #f04438;
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

.org-mgt-add-btn-for-cancel:hover {
  color: #f04438 !important;
  border: 1px solid #f04438 !important;
}

.org-mgt-add-btn-for-creating-org {
  background: #34657f;
  color: #fff;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px solid #34657f;
}

.org-mgt-add-btn-for-creating-org:hover {
  border: 1px solid #34657f !important;
  color: #fff !important;
}

.radio-group-for-edit-in-org-mgt {
  margin-top: -10px;
  display: flex;
  gap: 10%;
}

:where(.css-dev-only-do-not-override-zcfrx9).ant-input-number:hover
  .ant-input-number-handler-wrap,
:where(.css-dev-only-do-not-override-zcfrx9).ant-input-number-focused
  .ant-input-number-handler-wrap {
  display: none;
}
