.all-organization-filter-element-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.each-filter-form-elem-single-at-org {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.org-filter-btn-container {
  position: absolute;
  width: calc(100% - 48px);
  bottom: 0;
  justify-content: space-between;
  margin-bottom: 20px;
}
