.order-detail-display-modal-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  align-items: flex-start;
  padding: 0 16px;
}

.order-detail-display-modal-label {
  font-size: 14px;
  color: #858d9d;
  margin: 0;
}

.order-detail-display-modal-heading {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0;
}

.modal-title-container-with-close-icon {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.tab-2-modal-title-heading-text {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.close-icon-for-modal {
  cursor: pointer;
}

.medical-history-modal-customized {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}