.create-order-patient-demographics-container {
  width: 100%;
  padding: 27px 24px 0px;
  background-color: #fff;
}

.create-order-patient-demographics-container-2 {
  width: 100%;
  padding: 27px 24px 0px;
  background-color: #fff;
  margin-top: 20px;
}

.co-tab1-form-item-width-manually {
  width: 100%;
}

.co-patient-demographics-order-type {
  margin: 0;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
  color: #4D5464;
  margin-bottom: 20px;
}

.co-patient-demographics-note-text {
  margin: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 24px;
}

.patient-search-btn {
  display: flex;
  background-color: #396571;
  color: #fff;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.disabled-patient-search-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.patient-search-btn:hover {
  border: 1px solid #396571 !important;
  color: #fff !important;
}

.patient-search-icon {
  font-size: 24px;
}

.co-tab-1-common-cell-customization {
  color: #667085;
  text-transform: capitalize;
}

.co-modal-add-btn-container {
  justify-content: flex-end;
  margin-top: 24px;
}

.co-modal-add-btn {
  background-color: #396571;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px;
}

.co-modal-add-btn:hover {
  color: #fff !important;
  border: 1px solid #396571 !important;
}

.large-button {
  padding: 16px 200px !important;
}

/* .bold-border {
  border-color: black;
} */

/* Antd CSS Styles Override */
/* .ant-select-selector {
  background-color: #f9f9fc !important;
} */

/* .ant-input {
  background-color: #f9f9fc !important;
} */

/* .ant-input-number {
  background-color: #f9f9fc !important;
} */

/* .ant-picker {
  background-color: #f9f9fc !important;
} */

@media only screen and (min-width: 200px) and (max-width: 675px) {
  .co-tab1-btn-container {
    justify-content: center;
    align-items: center;
  }

  .co-tab1-cancel-btn {
    min-width: 180px;
  }
  .co-tab1-save-draft-btn {
    min-width: 180px;
  }
  .co-tab1-next-btn {
    min-width: 180px;
  }

  .large-button {
    font-size: 14px !important;
    padding: 16px 16px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 900px) {
  .large-button {
    font-size: 16px !important;
    padding: 16px 70px !important;
  }
}

