.co-tab-4-patient-docs-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    padding: 27px 24px;
    background-color: #fff;
  }
  
  .co-tab-4-label-top-side {
    margin: 0 0 4px 6px;
    display: block;
    color: #4d5464;
  }
  
  .co-tab-4-label-bottom-side {
    margin: 4px 0 0 6px;
    display: block;
    font-size: 12px;
    color: #475467;
  }
  
  .co-tab-4-file-type-select-tag {
    width: 100%;
  }
  
  .co-tab-4-upload-btn {
    display: flex;
    background: #34657f26;
    color: #34657f;
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 18px;
  }
  
  .co-tab-4-upload-btn:hover {
    border: 1px solid #34657f26 !important;
    color: #34657f !important;
  }
  
  .co-tab-4-upload-btn-icon {
    font-size: 22px;
    margin-top: 1px;
  }