.radio-group-for-edit-in-user-mgt {
  margin-top: -10px;
  display: flex;
  gap: 10%;
}

.cancel-and-add-btn-container-at-add-user {
  justify-content: flex-end;
}

.user-mgt-space-adjusting {
  margin-top: -12px;
}
