.organization-row-at-add-user {
  margin-bottom: 16px;
}

.organization-label-at-add-user {
  color:#4d5464;
}

.organization-value-at-add-user {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-top: 7px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.radio-group-for-edit-in-user-mgt {
  margin-top: -10px;
  display: flex;
  gap: 10%;
}

.cancel-and-add-btn-container-at-add-user {
  justify-content: flex-end;
}

.user-mgt-add-btn-for-cancel {
  border: 1px solid #f04438;
  color: #f04438;
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

.user-mgt-add-btn-for-cancel:hover {
  color: #f04438 !important;
  border: 1px solid #f04438 !important;
}

.user-mgt-add-btn-for-creating-user {
  background: #34657f;
  color: #fff;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px solid #34657f;
}

.user-mgt-add-btn-for-creating-user:hover {
  border: 1px solid #34657f !important;
  color: #fff !important;
}
