.every-single-row-in-user-display-details {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 24px;
}

.column-name-lable-at-user-mgt {
  color: #4d5464;
  letter-spacing: 0.5px;
}

.column-name-heading-text-at-user-mgt {
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.email-class-at-display-user-details {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.user-current-true {
  margin: 0;
  font-size: 1rem;
  color: #0d894f;
  font-weight: 500;
}

.user-current-false {
  margin: 0;
  font-size: 1rem;
  color: #b4332a;
  font-weight: 500;
}

.close-btn-container-at-user-view {
  justify-content: flex-end;
}
