.display-user-details-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.display-user-rows-parent-container {
  display: flex;
  gap: 24px;
}

.every-single-row-in-user-display-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 12px);
  /* gap: 6px; */
}

.column-name-lable-at-user-mgt {
  margin: 0;
  color: #4d5464;
  letter-spacing: 0.5px;
}

.column-name-heading-text-at-user-mgt {
  margin: 0;
  font-size: 1rem;
  color: #333843;
  text-transform: capitalize;
}

.email-class-at-display-user-details {
  margin: 0;
  font-size: 1rem;
  color: #333843;
}

.user-current-true {
  margin: 0;
  font-size: 1rem;
  color: #0d894f;
}

.user-current-false {
  margin: 0;
  font-size: 1rem;
  color: #b4332a;
}

.edit-component-btn-container-parent-at-user {
  width: calc(100% - 48px);
  position: absolute;
  bottom: 0;
}

.cancel-and-submit-btn-container-at-user-edit {
  padding-top: 16px;
  gap: 16px;
  border-top: 1px solid #ddd;
  justify-content: flex-end;
}

.user-mgt-edit-btn-for-cancel {
  border: 1px solid #f04438;
  color: #f04438;
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

.user-mgt-edit-btn-for-cancel:hover {
  color: #f04438 !important;
  border: 1px solid #f04438 !important;
}

.user-mgt-edit-btn-for-update {
  background: #34657f;
  color: #fff;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.user-mgt-edit-btn-for-update:hover {
  border: 1px solid #34657f !important;
  color: #fff !important;
}
